# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.debug

# Keypair
keypair.json
keypair2.json
